<div class="votes" *ngIf="showVotes">
  <div *ngIf="isAdmin" class="admin-vote">
    <label class="admin-vote">Total Votes: {{totalVotes}}</label>
    <button (click)="showDetails()" title="Details ansehen">
      <fa-icon [icon]="faDetails"></fa-icon>
    </button>
    <div *ngIf="details" class="admin-vote">
      <div *ngFor="let vote of allVotes">
        <label>{{vote.userName}}: {{vote.votes}}</label>
      </div>
    </div>
  </div>
  <label>Restliche Votes: {{userVotes}}</label>
</div>
