:host {
  @apply flex bg-white shadow overflow-hidden rounded-md px-3 py-3;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 8px;
  width: 100%;

  .textarea {
    display: block;
    resize: none;
    min-height: 40px;
    padding: 1px 6px;
    border: none;
    background-color: transparent;
    font-family: Arial, serif;
  }

  .gif {
    @apply relative;

    .close-icon-button {
      @apply absolute top-2 right-2 w-8 h-8 rounded-full bg-black bg-opacity-25 text-white;
    }

    img {
      @apply w-full h-full object-cover;
    }
  }
}

.action {
  @apply flex flex-col text-gray-700;

  justify-content: space-between;
  width: 100px;
  align-items: flex-end;

  .icon-button {
    @apply text-gray-700;
  }

  .icon-button:disabled {
    @apply text-gray-400;
  }

  .thumbs {
    display: flex;
    margin-bottom: 4px;

    .votes {
      display: flex;
    }
  }

  .count {
    font-size: 14px;
    padding-right: 2px;
    margin-top: 4px;
    margin-bottom: 0;
  }
}
