<div class="input">
  <textarea #textArea class="textarea appearance-none outline-none" autosize [minRows]="1" [maxRows]="15"
            [placeholder]="isAuthorized ? 'Bitte einen Text eingeben' : ''" [title]="authors(card)"
            [(ngModel)]="card.comment" (keydown.enter)="saveCard()"
            [disabled]="!editable || !isAuthorized"></textarea>
  <div class="gif" *ngFor="let gif of card.gifs">
    <button class="close-icon-button"
            (click)="deleteGif(gif, card)" title="GIF entfernen">
      <fa-icon [icon]="faXmark"></fa-icon>
    </button>
    <img [src]="gif" alt="GIF URL">
  </div>
</div>

<div class="action">
  <div>
    <button class="icon-button" (click)="openGifs()" [disabled]="!editable || !isAuthorized" title="Gifs">
      <fa-icon [icon]="faFaceSmile"></fa-icon>
    </button>
    <button class="icon-button" (click)="saveCard()" [disabled]="!editable || !isAuthorized" title="Karte speichern">
      <fa-icon [icon]="faSave"></fa-icon>
    </button>
    <button class="icon-button" (click)="delete.emit()" [disabled]="!editable || !isAuthorized" title="Karte löschen">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>

  <div class="thumbs" *ngIf="card.type === Type.NEGATIVE">
    <div class="votes" *ngIf="!editable">
      <p class="count" *ngIf="card.votes > 0">{{card.votes}}</p>
      <button class="icon-button" (click)="increment()" title="Karte up-voten">
        <fa-icon [icon]="faThumbsUp"></fa-icon>
      </button>
      <button class="icon-button" (click)="decrement()" [disabled]="card.votes === 0" title="Karte down-voten">
        <fa-icon [icon]="faThumbsDown"></fa-icon>
      </button>
    </div>
    <div>
      <button class="icon-button group-handle" *ngIf="movable" title="Karte verschieben / mergen">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </div>
  </div>

</div>

<app-gifs *ngIf="showGifs" (imageUrlChooseEvent)="addGif($event, card)" (closeEvent)="hideGifs()"></app-gifs>
