<h1 class="uppercase mx-auto px-6 py-1 rounded-md mt-16 text-violet-900 bg-violet-200 font-bold text-3xl">Retro Tool</h1>
<div class="bg-white overflow-hidden shadow rounded-lg max-w-md w-full mx-auto mt-16">
  <label class="px-4 sm:p-6 flex flex-col items-center text-red-600" *ngIf="error">{{error}}</label>
  <div class="px-4 py-5 sm:p-6 space-y-6 flex flex-col items-end">
    <div class="w-full">
      <label for="name" class="block text-sm font-medium text-gray-700">Dein Name</label>
      <div class="mt-1">
        <input type="text" [(ngModel)]="userName" (keydown.enter)="join()" id="name"
               class="shadow-sm focus:ring-violet-500 focus:border-violet-500 block w-full sm:text-sm border-gray-300 rounded-md"
               placeholder="Micky Maus">
      </div>
    </div>

    <fieldset class="w-full">
      <legend class="sr-only">Rolle</legend>
      <div class="bg-white rounded-md -space-y-px">
        <label class="item"
               *ngFor="let role of roles;let last = last; let first= first;"
               [ngClass]="{'rounded-tl-md': first, 'rounded-tr-md': first, 'rounded-bl-md': last, 'rounded-br-md': last, 'selected': role.id === selectedRole}">
          <input type="radio" name="privacy-setting" [value]="role.id" [(ngModel)]="selectedRole"
                 class="h-4 w-4 mt-0.5 cursor-pointer text-violet-600 border-gray-300 focus:ring-violet-500">
          <div class="ml-3 flex flex-col">
            <span class="name"> {{role.name}} </span>
            <span class="description"> {{role.description}} </span>
          </div>
        </label>

      </div>
    </fieldset>

    <button (click)="join()"
            type="button" class="cursor-pointer inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-violet-600 hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500"
            [disabled]="!hasUserName()">Teilnehmen
    </button>
  </div>
</div>
