:host {
  @apply flex flex-col;
}

.item {
  @apply border-gray-200 relative border p-4 flex cursor-pointer focus:outline-none;

  .name {
    @apply block text-sm font-medium text-gray-900;
  }

  .description {
    @apply block text-sm text-gray-500;
  }

  &.selected {
    @apply bg-indigo-50 border-indigo-200 z-10;

    .name {
      @apply text-indigo-900;
    }

    .description {
      @apply text-indigo-700;
    }
  }
}
