<div class="board">
  <div class="column">
    <div class="header positive border-2 border-green-700">
      <button class="icon-button" (click)="addPositiveCard()" [disabled]="!commentMode" title="Neue positive Karte hinzufügen">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <span class="title">Positives</span>
    </div>
    <div class="space-y-3">
      <app-card *ngFor="let card of positiveCards" [card]="card" class="border-green-700 border" [editable]="commentMode"
                [movable]="user!.isAdmin" [userId]="user!.id" (delete)="deleteCard(card)"></app-card>
      <app-card *ngIf="positiveCard && user" [card]="positiveCard" class="border-green-700 border" [editable]="commentMode"
                [movable]="user!.isAdmin" [userId]="user!.id" (delete)="removePositiveCard()"
                (save)="removePositiveCard()"></app-card>
    </div>

  </div>

  <div class="column">
    <div class="header negative border-2 border-rose-700">
      <button class="icon-button" (click)="addNegativeCard()" [disabled]="!commentMode" title="Neue negative Karte hinzufügen">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <span class="title">Negatives</span>
    </div>
    <div [dragula]="cardsContainer" [(dragulaModel)]="negativeCards" class="space-y-3">
      <app-card *ngFor="let card of negativeCards" [card]="card" class="border-rose-700 border" [editable]="commentMode"
                [movable]="user!.isAdmin" [userId]="user!.id" (delete)="deleteCard(card)"
                [dragula]="cardContainer" [dragulaModel]="[card]"></app-card>
      <app-card *ngIf="negativeCard && user" [card]="negativeCard" class="border-rose-700 border" [editable]="commentMode"
                [movable]="user!.isAdmin" [userId]="user!.id" (delete)="removeNegativeCard()"
                (save)="removeNegativeCard()"></app-card>
    </div>
  </div>
</div>
