:host {
  @apply flex flex-col;
}

.board {
  @apply flex max-w-7xl mx-auto w-full space-x-3 px-3;
}

.column {
  @apply w-full;

  .header {
    @apply  flex items-center px-3 space-x-3 mb-3;
  }

  .title {
    @apply font-bold text-gray-700;
  }

  .icon-button {
    @apply my-2 flex justify-center items-center w-8 h-8 border border-transparent rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2;
  }
}

.positive, .negative {
  @apply flex bg-white shadow rounded-md;
}

.positive {
  .icon-button {
    @apply bg-green-600 hover:bg-green-700 focus:ring-green-500;
  }
}

.negative {
  .icon-button {
    @apply bg-rose-600 hover:bg-rose-700 focus:ring-rose-500;
  }
}
