{{successText}}
<div class="clear-section">
  <label>
    <input type="password" [(ngModel)]="password" (keydown.enter)="clear()">
  </label>

  <button (click)="clear()">Alles löschen</button>
</div>
