<div class="max-w-7xl w-full flex items-center justify-end space-x-3 mx-auto px-3 py-3 h-16 lg:divide-y lg:divide-gray-200">
  <div class="relative inline-block text-left">

    <button type="button" (click)="show = !show" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
      Timer starten
      <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </button>

    <div *ngIf="show" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
      <div class="py-1" role="none">
        <button *ngFor="let min of [1, 2, 3, 4, 5]" (click)="startTime(min)" class="text-gray-700 block w-full text-left px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-3">
          <fa-icon [icon]="faClock"></fa-icon>
          {{min}} Minuten starten
        </button>
      </div>
    </div>
  </div>

  <button class="flex items-center justify-center space-x-2 rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" (click)="setCommentMode()">
    <fa-icon *ngIf="!commentMode" [icon]="faComments"></fa-icon>
    <fa-icon *ngIf="commentMode" [icon]="faThumbsUp"></fa-icon>
    <fa-icon *ngIf="commentMode" [icon]="faThumbsDown"></fa-icon>
    <span>{{commentMode ? 'Abstimung starten' : 'Kommentieren starten'}}</span>
  </button>

  <button class="flex items-center justify-center space-x-2 rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" (click)="deleteAll()">
    <fa-icon [icon]="faTrash"></fa-icon>
    <span>Alles löschen</span>
  </button>

</div>
