<app-administration *ngIf="asAdmin" [commentMode]="commentMode" (clearAll)="resetAll()"></app-administration>
<div class="side-by-side">
  <app-timer [date]="timerDate"></app-timer>
  <app-vote [userVotes]="userVotes" [allVotes]="allVotes" [showVotes]="!commentMode"
            [isAdmin]="asAdmin"></app-vote>
</div>
<app-board [negativeCards]="negativeCards" [positiveCards]="positiveCards" [commentMode]="commentMode"></app-board>
