/* You can add global styles to this file, and also import other style files */
@import "assets/dragula.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-button {
  background-color: transparent;
  padding: 4px;
}

.close-icon-button {
  padding: 0;
  font-size: 20px;
}
