:host {
  @apply fixed top-0 bottom-0 right-0 left-0 bg-black bg-opacity-25 flex items-center justify-center z-10;
}

.close {
  @apply px-4 sm:px-6 flex justify-end py-2;
}

.gifs {
  @apply grid grid-cols-4 gap-1;

  .gif {
    width: 100px;
    height: 100px;
    @apply object-cover rounded;
  }

}

.navigation {
  display: flex;
  justify-content: flex-end;
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
