<div class="bg-white overflow-hidden shadow rounded-lg max-w-md w-full mx-auto mt-16">

  <div class="close">
    <button class="close-icon-button" (click)="close()" title="Schliessen">
      <fa-icon [icon]="faXmark"></fa-icon>
    </button>
  </div>

  <div class="px-4 py-5 sm:p-6 space-y-6 flex flex-col items-end">
    <div class="w-full">
      <label for="name" class="block text-sm font-medium text-gray-700">Giphy Suche</label>
      <div class="flex space-x-1">
        <div class="mt-1 w-full">
          <input type="text" [(ngModel)]="searchQuery" (keydown.enter)="search()" id="name"
                 class="shadow-sm focus:ring-violet-500 focus:border-violet-500 block w-full sm:text-sm border-gray-300 rounded-md"
                 placeholder="Minnie Maus">
        </div>
        <div class="mt-1">
          <button (click)="search()" type="button"
                  class="cursor-pointer inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-violet-600 hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500"
                  [disabled]="!searchQuery">Suchen
          </button>
        </div>
      </div>
    </div>
    <div class="gifs">
      <img class="gif" *ngFor="let gif of giphy?.data"
           [src]="gif.images.downsized.url" [alt]="gif.title"
           (click)="chooseImage(gif.images.downsized.url)">
    </div>

    <div class="bottom">

      <img src="assets/PoweredBy_200_Horizontal_Light-Backgrounds_With_Logo.gif" alt="Powered by GIPHY">

      <div class="navigation">
        <button class="icon-button" (click)="searchPrevious()" *ngIf="hasPrevious()" title="Vorherige Seite">
          <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>
        <button class="icon-button" (click)="searchNext()" *ngIf="hasNext()" title="Nächste Seite">
          <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
